<div class="loader-overlay" *ngIf="isLoading">
  <div class="loader-content">
    <div class="spinner"></div>
    <p>{{ loadingMessage }}</p>
  </div>
</div>

<div class="container">
  <h1>Données</h1>

  <div *ngIf="!loaded">
    <label>Token GitHub :</label>
    <input [(ngModel)]="token" placeholder="ghp_xxxxxxxxxxxxxxx" type="password" />

    <button (click)="loadImages()">Valider Token</button>
  </div>

  <div *ngIf="loaded">

    <nav>
      <ul>
        <li><a href="#m0">Menus</a></li>
        <li><a href="#m1">Galleries</a></li>
        <li><a href="#m2">Photos en bas</a></li>
        <li><a href="#m3">Contact</a></li>
        <li><a href="#m4">Avis</a></li>
        <li><a href="#m5">Services</a></li>
        <li><a href="#m6">FAQ</a></li>
        <li><a href="#m7">Traductions</a></li>
        <li><a href="#m8">Images Site</a></li>
        <li><a href="#m9">Portfolio</a></li>
      </ul>
    </nav>

      <!-- Éditeur -->
      <h2 id="m0">Menus : </h2>
      <div class="bloc">
        <div *ngFor="let item of content.topmenu; let i = index" class="flex">
          <label>
            <p>EN:</p>
            <input type="text" [(ngModel)]="item.en"/>
          </label>
          <label>
            <p>FR:</p>
            <input type="text" [(ngModel)]="item.fr"/>
          </label>
          <button class="btn btn-danger mt-2" (click)="removeItem('topmenu',i)">Supprimer</button>
        </div>
      </div>
      <button class="addElement" (click)="addItem('topmenu')">Ajouter un élément</button>
      
      <h2 id="m1">Galleries : </h2>
      <div class="bloc">
        <div *ngFor="let item of content.galleries; let i = index" class="flex">
          <label *ngFor="let trad of item.fr;let j=index">
            <p>FR:</p>
            <input type="text" [(ngModel)]="item.fr[j]"/>
          </label>
          <label *ngFor="let trad of item.fr;let j=index">
            <p>EN:</p>
            <input type="text" [(ngModel)]="item.en[j]"/>
          </label>
          <label>
            <p>Image:</p>
            <input type="text" [(ngModel)]="item.img"/>
            <img [src]="getImg(item.img)" width="100" />
          </label>
          <label>
            <p>Click:</p>
            <input type="text" [(ngModel)]="item.click"/>
          </label>
          <button class="btn btn-danger mt-2" (click)="removeItem('galleries',i)">Supprimer</button>
        </div>
      </div>
      <button class="addElement" (click)="addItem('galleries')">Ajouter un élément</button>
      
      <h2 id="m2">Photos en bas : </h2>
      <div class="bloc">
        <div *ngFor="let item of content.lists; let i = index" class="flex">
          <label>
            <input type="text" [(ngModel)]="content.lists[i]"/>
            <img [src]="getImg(item)" width="100" />
          </label>
          <button class="btn btn-danger mt-2" (click)="removeItem('lists',i)">Supprimer</button>
        </div>
      </div>
      <button class="addElement" (click)="addItem('lists')">Ajouter un élément</button>

      <h2 id="m3">Champs contact : </h2>
      <div class="bloc">
        <div *ngFor="let item of content.fields; let i = index" class="flex">
          <label>
            <p>Requis:</p>
            <input type="checkbox" [(ngModel)]="item.required" />
          </label>
          <label>
            <p>EN:</p>
            <input type="text" [(ngModel)]="item.nom"/>
          </label>
          <label>
            <p>FR:</p>
            <input type="text" [(ngModel)]="item.trad"/>
          </label>
          <label>
            <p>EN:</p>
            <input type="text" [(ngModel)]="item.placeholder"/>
          </label>
          <label>
            <p>FR:</p>
            <input type="text" [(ngModel)]="item.placetrad"/>
          </label>
          <label>
            <p>Type:</p>
            <input type="text" [(ngModel)]="item.type"/>
          </label>
          <button class="btn btn-danger mt-2" (click)="removeItem('fields',i)">Supprimer</button>
        </div>
      </div>
      <button class="addElement" (click)="addItem('fields')">Ajouter un élément</button>
      
      <h2 id="m4">Liste Avis : </h2>
      <div class="bloc">
        <div *ngFor="let item of content.listeavis; let i = index" class="flex">
          <label>
            <p>Nom:</p>
            <input type="text" [(ngModel)]="item.nom"/>
          </label>
          <label>
            <p>Image:</p>
            <input type="text" [(ngModel)]="item.img"/>
            <img [src]="getImg(item.img)" width="100" />
          </label>
          <label>
            <p>EN:</p>
            <input type="text" [(ngModel)]="item.txt"/>
          </label>
          <label>
            <p>FR:</p>
            <input type="text" [(ngModel)]="item.trad"/>
          </label>
          <button class="btn btn-danger mt-2" (click)="removeItem('listeavis',i)">Supprimer</button>
        </div>
      </div>
      <button class="addElement" (click)="addItem('listeavis')">Ajouter un élément</button>
      
      <h2 id="m5">Services : </h2>
      <div class="bloc">
        <div *ngFor="let item of content.services; let i = index" class="flex">
          <label>
            <p>EN:</p>
            <input type="text" [(ngModel)]="item.nom"/>
          </label>
          <label>
            <p>FR:</p>
            <input type="text" [(ngModel)]="item.nom2"/>
          </label>
          <label>
            <p>EN:</p>
            <input type="text" [(ngModel)]="item.txt"/>
          </label>
          <label>
            <p>FR:</p>
            <input type="text" [(ngModel)]="item.txt2"/>
          </label>
          <button class="btn btn-danger mt-2" (click)="removeItem('services',i)">Supprimer</button>
        </div>
      </div>
      <button class="addElement" (click)="addItem('services')">Ajouter un élément</button>
      
      <h2 id="m6">FAQ : </h2>
      <div class="bloc">
        <div *ngFor="let item of content.faq; let i = index" class="flex">
          <label>
            <p>EN:</p>
            <input type="text" [(ngModel)]="item.nom2"/>
          </label>
          <label>
            <p>FR:</p>
            <input type="text" [(ngModel)]="item.nom"/>
          </label>
          <ng-container *ngFor="let question of item.questions; let j = index">
            <label>
              <p>QFR:</p>
              <input type="text" [(ngModel)]="item.questions[j].q"/>
            </label>
            <label>
              <p>QEN:</p>
              <input type="text" [(ngModel)]="item.questions[j].q2"/>
            </label>
            <label>
              <p>AFR:</p>
              <input type="text" [(ngModel)]="item.questions[j].a"/>
            </label>
            <label>
              <p>AEN:</p>
              <input type="text" [(ngModel)]="item.questions[j].a2"/>
            </label>
          </ng-container>
          <button class="btn btn-danger mt-2" (click)="removeItem('faq',i)">Supprimer</button>
        </div>
      </div>
      <button class="addElement" (click)="addItem('faq')">Ajouter un élément</button>

      <h2 id="m7">Traductions : </h2>
      <div *ngFor="let key of keys;let i=index" class="card mb-3 p-3 border rounded shadow-sm">
        <div class="flex">
          <label class="col-md-6 mb-2">
            <p>Français</p>
            <input type="text" [(ngModel)]="content.trads.fr[key]"/>
          </label>
          <label class="col-md-6 mb-2">
            <p>English</p>
            <input type="text" [(ngModel)]="content.trads.en[key]"/>
          </label>
          <button class="btn btn-danger mt-2" (click)="removeItem('trads',i, key)">Supprimer</button>
        </div>
      </div>

      <!-- Sauvegarde -->
      <button (click)="saveSelectedFile()" class="save">Sauvegarder</button>

      <br/>
      <hr/>

      <h1 id="m8">Images du site</h1>
      <input type="file" (change)="uploadImage($event)" />
      <div class="images">
        <div *ngFor="let img of images" class="image">
          <img [src]="img.url" width="100" />
          <p>{{ img.name }}</p>
          <button (click)="deleteImage(img)">Supprimer</button>
        </div>
      </div>

      <br/>
      <hr/>

      <h1 id="m9">Portfolio</h1>
      <input type="file" (change)="uploadImagePortfolio($event)" />
      <div class="images">
        <div *ngFor="let img of imagesPortfolio" class="image">
          <img [src]="img.url" width="100" />
          <p>{{ img.name }}</p>
          <button (click)="deleteImage(img)">Supprimer</button>
        </div>
      </div>

      <br/>
      <hr/>
      
      <button (click)="deploy()" *ngIf="!ddeploy">Déployer sur GitHub Pages</button>
  </div>

  
</div>